<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <video id="video" style="width: 100%;" autoplay="autoplay" playsinline loop="loop" controls="controls" [muted]="'muted'">
      <source [src]="src" type="video/mp4">
    </video>
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/image/logo.png" style="width: 400px;" class="img-fluid">
              <h2 class="display-2 mb-0">온라인 특판 대리점</h2>
            </div>
          </div>
        </div>
      </div>  
    </section>
    
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy Z Flip3 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>팬텀블랙/크림/그린/라벤더</p>
          <p class="lead text-white mt-4"><b>출고가 </b>1,254,000 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>430,000 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/flip/Gray.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/flip/Cream.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/flip/Lavender.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/flip/Green.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy Z Fold3 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>팬텀블랙/팬텀그린/팬텀실버</p>
          <p class="lead text-white mt-4"><b>출고가 </b>1,998,700 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>760,000 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/fold3/Black.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/fold3/Green.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/fold3/Silver.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <video id="video" style="width: 100%;" autoplay="autoplay" playsinline loop="loop" controls="controls" [muted]="'muted'">
    <source [src]="src2" type="video/mp4">
  </video>
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy S21 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>그레이/화이트/바이올렛/핑크</p>
          <p class="lead text-white mt-4"><b>출고가 </b>999,900 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>120,000 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21/Gray.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21/White.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21/Violet.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21/Pink.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy S21+ 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>블랙/실버/바이올렛/핑크</p>
          <p class="lead text-white mt-4"><b>출고가 </b>1,199,000 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>250,000 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21plus/Black.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21plus/Silver.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21plus/Violet.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21plus/Pink.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy S21 Ultra 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>블랙/실버</p>
          <p class="lead text-white mt-4"><b>출고가 </b>1,452,000 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>410,000 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21ultra/Black.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/s21ultra/Silver.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <video id="video" style="width: 100%;" autoplay="autoplay" playsinline loop="loop" controls="controls" [muted]="'muted'">
    <source [src]="src3" type="video/mp4">
  </video>
  <section class="section section-shaped">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Galaxy A52 5G</h1>
          <p class="lead text-white mt-4"><b>색상 </b>라벤더/블랙/화이트</p>
          <p class="lead text-white mt-4"><b>출고가 </b>599,000 원</p>
          <p class="lead text-white mt-4"><b>이벤트가 </b>0 원</p>
          <p class="lead text-white mt-4"><b>추가할인 </b>별도문의</p>
          <a (click)="toTop($event)" class="btn btn-white mt-4">이벤트 상담 신청</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/A52/Lavender.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/A52/Black.jpg" alt="Second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../../assets/image/A52/White.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div class="pl-4">
              <h4 class="display-3 text-white">진행 절차</h4>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">상담 신청</h5>
                  <p>페이지 하단에서 간편하게 접수</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">해피콜 상담</h5>
                  <p>전문 상담원과 해피콜 상담 및 가입 신청</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">제품 배송</h5>
                  <p>신청 완료 고객 순차적 발송 </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">수령 및 핸드폰 개통</h5>
                  <p>제품 수령 후 영업일 3일 이내 개통</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section pb-0 bg-gradient-warning">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5" id="content">
              <div class="text-center text-muted mb-4">
                <h4 style="color: #000;">이벤트 상담 신청</h4>
              </div>
              <form role="form" [formGroup]="textform">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input formControlName="name" class="form-control" placeholder="이름" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input formControlName="phone" class="form-control" placeholder="전화번호" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" (change)="changeCom($event.target.value)">
                      <option value="">현재 통신사</option>
                      <option value="SKT">SKT</option>
                      <option value="KT">KT</option>
                      <option value="LG U+">LG U+</option>
                    </select>
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" (change)="changeHope($event.target.value)">
                      <option value="">상담 희망 모델</option>
                      <option value="Galaxy Z Flip3 5G">Galaxy Z Flip3 5G</option>
                      <option value="Galaxy Z Fold3 5G">Galaxy Z Fold3 5G</option>
                      <option value="Galaxy S21 5G">Galaxy S21 5G</option>
                      <option value="Galaxy S21+ 5G">Galaxy S21+ 5G</option>
                      <option value="Galaxy S21+ 5G">Galaxy S21+ 5G</option>
                      <option value="Galaxy A52 5G">Galaxy A52 5G</option>
                    </select>
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" checked disabled id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for="customCheckLogin">
                    <span>개인정보수집이용동의</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" (click)="commit()">상담신청</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</main>
